title: QuantEcon DataScience
author: Chase Coleman, Spencer Lyon, and Jesse Perla
logo: _static/datascience-logo.png
description: This website presents a series of lectures on programming, data science, and economics.

execute:
  execute_notebooks: "force"
  timeout: 1000

html:
  baseurl: https://datascience.quantecon.org/

sphinx:
  extra_extensions: [sphinx_multitoc_numbering, sphinx_exercise, sphinx_tojupyter]
  config:
    html_favicon: _static/lectures-favicon.ico
    html_static_path: ['_static']
    html_theme: quantecon_book_theme
    html_theme_options:
      header_organisation_url: https://quantecon.org
      header_organisation: QuantEcon
      repository_url: https://github.com/QuantEcon/lecture-datascience.myst
      repository_branch: main
      nb_repository_url: https://github.com/QuantEcon/lecture-datascience.notebooks
      twitter: quantecon
      twitter_logo_url: https://assets.quantecon.org/img/qe-twitter-logo.png
      og_logo_url: https://assets.quantecon.org/img/qe-og-logo.png
      description: This website presents a series of lectures on programming, data science, and economics.
      keywords: Python, QuantEcon, DataScience
      launch_buttons:
        colab_url: https://colab.research.google.com
        binderhub_url: https://mybinder.org
      google_analytics_id: UA-54984338-5
      persistent_sidebar: true
    mathjax3_config:
      tex:
        extensions: ["autobold.js"]
        macros:
          "argmax" : "arg\\,max"
          "argmin" : "arg\\,min"
          "col"    : "col"
        inlineMath: [ ['$','$'], ['\\(','\\)'] ]
        processEscapes: true
      svg:
        scale: 0.92,
    tojupyter_static_file_path: ["_static"]
    tojupyter_target_html: true
    tojupyter_urlpath: "https://datascience.quantecon.org/"
    tojupyter_image_urlpath: "https://datascience.quantecon.org/_static/"
    tojupyter_lang_synonyms: ["ipython", "ipython3", "python"]
    tojupyter_kernels:
      python3:
        kernelspec:
          display_name: "Python"
          language: python3
          name: python3
        file_extension: ".py"
    tojupyter_images_markdown: true
bibtex_bibfiles: 
  - applications/applications.bib

