title: QuantEcon DataScience
author: Chase Coleman, Spencer Lyon, and Jesse Perla
logo: _static/datascience-logo.png
description: This website presents a series of lectures on programming, data science, and economics.

execute:
  execute_notebooks: "cache"
  timeout: 60

html:
  baseurl: https://datascience.quantecon.org/

sphinx:
  extra_extensions: [sphinx_multitoc_numbering, sphinx_exercise, sphinx_tojupyter]
  config:
    html_favicon: _static/lectures-favicon.ico
    html_theme: quantecon_book_theme
    html_static_path: ['_static']
    html_theme_options:
      header_organisation_url: https://quantecon.org
      header_organisation: QuantEcon
      repository_url: https://github.com/QuantEcon/lecture-datascience.myst
      nb_repository_url: https://github.com/QuantEcon/lecture-datascience.notebooks
      twitter: quantecon
      twitter_logo_url: https://assets.quantecon.org/img/qe-twitter-logo.png
      og_logo_url: https://assets.quantecon.org/img/qe-og-logo.png
      description: This website presents a series of lectures on programming, data science, and economics.
      keywords: Python, QuantEcon, DataScience
      # google_analytics_id: UA-54984338-9
    tojupyter_static_file_path: ["_static"]
    tojupyter_target_html: true
    tojupyter_urlpath: "https://datascience.quantecon.org/"
    tojupyter_image_urlpath: "https://datascience.quantecon.org/_static/"
    tojupyter_lang_synonyms: ["ipython", "ipython3", "python"]
    tojupyter_kernels:
      python3:
        kernelspec:
          display_name: "Python"
          language: python3
          name: python3
        file_extension: ".py"
    tojupyter_images_markdown: true
